# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) 2018-2021, The Linux Foundation. All rights reserved.

menu "MHI_SSR"

config QTI_MHI_SSR
       tristate "MHI SSR"
       depends on MHI_QCOM
       help
	If you say yes to this option,
	MHI SSR support via sysfs for
	Qualcomm Technologies, Inc chipsets
	will be enabled, in case esoc support
	is not present.
endmenu
